<section>
  <form method="post" action="/memos/<%= @memo['id'] %>" class="form" autocomplete="off">
    <div class="mb-3 row">
      <label for="title" class="col-sm-2 col-form-label">TITLE</label>    
      <input type= "text" name="title" value="<%= h(@memo['title']) %>" class="form-control" required>
    </div>

    <div class="mb-3 row">
      <label for="content" class="col-sm-2 col-form-label">CONTENT</label>
      <textarea name="content" class="form-control line-indention" rows="10" required><%= h(@memo['content']) %></textarea>
    </div>

    <div class="py-3">
      <input type="hidden" name="_method" value="PATCH">      
      <button class="btn btn-info" type= "submit">
      <i class="bi bi-check-circle me-2"></i>
      UPDATE</button>
    </div>
  </form>
</section>
