<section>
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">TITLE (UPDATED DATE & TIME)</li>
    <% @memos.each do |memo| %>
      <li class="list-group-item my-2"><a href="/memos/<%= memo['id'] %>"><%= h(memo['title']) %> (<%= h(Time.parse(memo['time']).strftime('%Y/%m/%d %H:%M:%S')) %>)</a></li>
    <% end %>
  </ul>
  <div class="py-3">
    <a class="btn btn-primary" href="/memos/new" method="get" role="button">
    <i class="bi bi-plus-circle-fill me-2"></i>
    ADD</a>
  </div>
</section>
